html {
  width: device-width;
  margin: unset;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: Verdana;
  background: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url(https://images.radio-canada.ca/q_auto,w_960/v1/ici-info/16x9/universite-mc-gill-90208.jpg) no-repeat center center / cover;
  overflow-x: hidden;
}

.not-foot {
  margin: 0 auto;
  width: 90%;
  min-width: 400px;
  margin-top: 2em;
  margin-bottom: 4em;
}


.foot {
  width: 100%;
  font-size: 13px;
  background: rgb(233, 227, 224);
  padding-top: 5px;
  padding-left: 25px;
  margin-bottom: 0;
  border: 2px solid rgb(233, 227, 224);
  border-top: 2px solid rgb(228, 222, 219);
}


#map {
  height: 600px;
  border: 3px solid grey;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin-top: 1.75em;
  font-size: 40px;
}

h2 {
  text-align: center;
  margin-top: -28px;
  font-size: 18px;
}

#slogan {
  text-align: center;
}

#feedback_form {
  margin-top: 10px;
  padding-top: 0;
  padding-left: 10px;
}

#credits_lol {
  font-size: 12px;
  text-align: center;
}

input[type="checkbox"] {
  margin-left: 15px;
  margin-right: 5px;
  margin-top: -15px;
}

#search_button {
  margin-left: 15px;
}

label {
  display: inline-block;
}

textarea {
  padding: 0 3px;
}

fieldset {
  background-color: #97b7dd;
  border-radius: 15px;
}


button[type="submit"] {
  margin-top: 7px;
  display: block;
}

